body{ height: 110vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    
}

}
.logo{
    display: block;
    margin:auto;
    width: 5%;
    height: 5%;
}
h1{ 
    margin-top: 12px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
   font-style: italic;
   font-weight: bold;
   color: white;
}
.container{
    margin: auto;
    max-width: 955px;
    border: 4px solid rgb(253, 253, 253);
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 33px;
height: 60vh; 
border-radius: 10px;
 }
 .message{
background-color: rgb(255, 255, 255);
width: 24%;
padding: 10px;
margin: 17px 12px;
font-size: large;
font-style: italic;
font-weight: 600;
border-radius: 10px;


 }
 .left{
float: left;
clear:both;

 }
 .right{
float: right;
clear: both;
 }
 #send-container{
     display: block;
text-align: center;
max-width: 985px;
width: 100%;
margin: auto;

 }
 #messageinp{
     width: 80%;
    border: 4px solid white;
     border-radius: 6px;
     height: 30px;
     
     font-style: italic;
     font-weight: bold;
 }
 .btn{
     width: 14%;
     cursor:pointer ;
color: white;
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);;
border: 4px solid white;
     border-radius: 5px;
     height: 34px;
     font-weight: bolder;
     font-family: cursive;
     background-size: 400% 400%;
     animation: gradient 15s ease infinite;
 }